<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div>
    <ul>
  <img src="https://lh6.googleusercontent.com/-NxZGUZXZg6A/AAAAAAAAAAI/AAAAAAAAAAc/QS4oVJL2NgI/photo.jpg" />
</div>
<%= yield %>

</body>
</html>
